<h1 class="shadow">レシピの編集</h1>
<%= form_with model: @recipe, url: admin_recipe_path(@recipe), method: :patch do |f| %>
   <div class="form-group">
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :body, "内容" %>
  <%= f.text_area :body, rows: 5, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.file_field :images, multiple: true, accept: "image/*" %>
</div>
<div class="form-group">
  <%= f.submit 'レシピを更新', class: "btn btn-primary" %>
</div>
<% end %>