<div class="container">
  <h1 class="shadow" >レシピ一覧</h1>
  <% @recipe.images.each do |image| %>
    <% if recipe.image.attached? %>
      <%= image_tag recipe.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  <% end %>
  <% @recipes.each do |recipe| %>
    <div>
      <%= link_to recipe.title, recipe_path(recipe), class: "btn btn-dark" %>
      <small class="text-black-50">
        <%= link_to recipe.customer.name, customer_mypage_path(recipe.customer), class: "btn btn-primary" %>
      </small>
      <%= render "public/favorites/favorites", recipe: recipe %>
    </div>
  <% end %>

</div>