<h1>レシピ詳細</h1>

<div><%= @recipe.title %></div>
<div><%= @recipe.body %></div>
<% if @recipe.images.attached? %>
  <div>
    <% @recipe.images.each do |image| %>
      <%= image_tag image, class: "img-fluid" %>
    <% end %>
  </div>
<% end %>


<%= render "public/comments/index", recipe: @recipe, comment: @comment %>
<%= render "public/comments/form", recipe: @recipe, comment: @comment %>
<% if @recipe.customer == current_customer %>
  <%= link_to 'レシピを編集', edit_recipe_path(@recipe) %>
<% end %>
