<!DOCTYPE html>
<html>
  <head>
    <title>買い物レシピ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fcaf7bc4c1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-image">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--ログインしている場合-->
        <% if customer_signed_in? %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to new_recipe_path, class: "nav-link" do %>
                レシピを投稿<i class="fa-solid fa-pen"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to recipes_path, class: "nav-link" do %>
                レシピ一覧<i class="fa-solid fa-utensils"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to favorites_recipes_path, class: "nav-link" do %>
                お気に入り<i class="fa-solid fa-heart"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to bags_path, class: "nav-link" do %>
                買い物リスト<i class="fa-solid fa-pen"></i>
              <% end %>
            </li>

            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link" do %>
                ログアウト<i class="fa-solid fa-right-from-bracket"></i>
              <% end %>
            </ul>
          </div>


          <!--adminがログインしている場合-->
        <% elsif admin_signed_in? %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <%= link_to admin_recipes_path, class: "nav-link" do %>
              レシピ一覧<i class="fa-solid fa-utensils"></i>
            <% end %>
            <%= link_to admin_customers_path, class: "nav-link" do %>
              会員一覧<i class="fa-solid fa-lock"></i>
            <% end %>
          </ul>
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
              管理者ログアウト<i class="fa-solid fa-lock"></i>
            <% end %>
          </ul>

          <!--ログインしていない場合-->
        <% else %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <%= link_to customers_guest_sign_in_path, class: "nav-link", method: :post do %>
              ゲストログイン（閲覧用）<i class="fa-solid fa-address-card"></i>
            <% end %>
            <%= link_to new_customer_registration_path, class: "nav-link" do %>
              新規登録<i class="fa-solid fa-address-card"></i>
            <% end %>
            <%= link_to new_customer_session_path, class: "nav-link" do %>
              ログイン<i class="fa-solid fa-address-card"></i>
            <% end %>
            <%= link_to new_admin_session_path, class: "nav-link" do %>
              管理者ログイン<i class="fa-solid fa-unlock"></i>
            <% end %>
          </ul>
        <% end %>
      </div>
    </nav>
  <div><%= flash[:notice] %></div>
  <%= yield %>
  </body>
</html>
